@media (max-aspect-ratio: 2/3) {

    .training_header {
        font-size: 9vw;
        position: relative;
        margin-top: 4vw;
    }

    .training_location {
        left: 10vw;
        width: 80vw;
        position: relative;
    }

    .training_time {
        font-size: 7vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 6vw;
        position: relative;
    }

    .training_location_description {
        font-size: 4.5vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-bottom: 3vw;
        position: relative;
    }

    .map_holder {
        background: url('../../../images/map_thumb.png') center no-repeat;
        background-size: cover;
    }

    .map {
        height: 100%;
        width: 100%;
    }

    .training_cost_header {
        font-size: 7vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 6vw;
        margin-bottom: 3vw;
        position: relative;
    }

    .training_costs_text {
        font-size: 5vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    #training_fee_table {
        margin-top: 3vw;
        margin-bottom: 2vw;
        width: 80vw;
        left: 10vw;
        position: relative;
        font-size: 4vw;
    }

    #training_empty_cell {
        border: 1px solid #d6d6d6 !important;
    }

    #training_fee_table>tbody>tr>td {
        font-weight: bold;
        border: 1px solid #585858;
    }

    .training_parking_header {
        font-size: 7vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 6vw;
        margin-bottom: 1vw;
        position: relative;
    }

    .training_parking_text {
        font-size: 5vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    .training_clothing_header {
        font-size: 7vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 6vw;
        margin-bottom: 1vw;
        position: relative;
    }

    .training_clothing_text {
        font-size: 5vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }

    #courses {
        position: relative;
        height: 20vw;
        font-size: 5vw;
        margin-left: 6vw;
        margin-right: 6vw;
        margin-top: 1vw;
        margin-bottom: 1vw;
    }
}
