@media (max-aspect-ratio: 2/3) {

    #contact_body {
        margin-top: 2vw;
    }

    .contact_text {
        font-size: 6vw;
        width: 80vw;
        left: 10vw;
        position: relative;
    }

    #contact_picture {
        position: relative;
        width: 100%;
        margin-top: 5vw;
    }

    #contact_picture > img {
        position: relative;
        height: 100%;
        width: 60vw;
        left: 20vw;
    }

    #contact_picture_label {
        text-align: center;
        font-size: 5vw;
        font-weight: bold;
    }

    #contact_table {
        width: 60vw;
        left: 20vw;
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        margin-top: 2vw;
        margin-bottom: 3vw;
    }

    .contact_method {
        display: flex;
        flex-grow: 1;
    }

    .contact_label {
        text-align: left;
        width: 30%;
    }

    .contact_value {
        text-align: left;
        width: 70%;
    }
}
